#jumbotron{
  text-align: center;
  background-color: #337ab7
}
#jobType, #duration, #amount, #phoneNumber, #email, #description, #idNumber{
  border-style: solid;
  border-color: #337ab7;
  border-width: medium;
}
#A,#B,#C,#D,#E,#F,#G,#H,#I{
  font-weight: bold;
}
