.container {
  opacity: 0.8;
  
}
.jumbotron{
  /* background-color: transparent; */
  /* opacity: 0.8; */
}
#phone{
  border-style: solid;
    border-color: blue;
  border-width: 2px 2px 2px 2px;
}
#email{
  border-style: solid;
    border-color:blue;
  border-width: 2px 2px 2px 2px;
}
.label-password{
  display: block;
}
#username{
  border-style: solid;
    border-color:blue;
  border-width: 2px 2px 2px 2px;
}
#fullnames{
  border-style: solid;
    border-color: blue;
  border-width: 2px 2px 2px 2px;
}
#pass1{
  border-style: solid;
    border-color: blue;
  border-width: 2px 2px 2px 2px;
}
#pass2{
  border-style: solid;
    border-color:blue;
  border-width: 2px 2px 2px 2px;
}
#DOB{
  border-style: solid;
    border-color: blue;
  border-width: 2px 2px 2px 2px;
}
#prudy{
  background-color: blue;
}
.requirements{
  text-align: center;
  opacity: 0.8;
  /* background-color: transparent; */
}
.pesho{
  text-align: center;
}
.naliaka{
  background-image: url(../img/workers.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.requirements{
  background: none;
}
